version: '3.9'
services:
  db:
    image: postgres:14
    container_name: nest_db
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  api:
    container_name: nest_api
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped
    command: >
      sh -c "npx prisma migrate deploy &&
        yarn start:prod"
    volumes:
      - ./uploads:/app/uploads

  frontend:
    container_name: front
    build: ../front
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  pgdata:
